.footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #ffffff;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 44px 0;
  }
}