.top-bar {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.hero {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .top-bar {
    padding: 44px 0;
  }
}

@media screen and (min-width: 1024px) {
  .top-bar {
    padding: 56px 0;
  }
}